<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


	<!--匿名访问-->
	<http pattern="/login.html" security="none"></http>
	<http pattern="/css/**" security="none"></http>
	<http pattern="/js/**" security="none"></http>
	<http pattern="/img/**" security="none"></http>
	<http pattern="/plugins/**" security="none"></http>

	<!--拦截规则  use-expressions="true" 默认-->
	<http use-expressions="false">
		<intercept-url pattern="/**" access="ROLE_ADMIN"></intercept-url>
		<!--
			default-target-url 登陆成功后默认跳转的页面 如果没指定，原来访问哪个页面，登陆后还回到哪个页面
			always-use-default-target 一直跳转到目标页
			authentication-failure-url 如果不指定，默认回到登陆页，如果指定，登陆失败后就回到该页面
		-->
		<form-login login-page="/login.html" default-target-url="/admin/index.html" always-use-default-target="true"
		 	authentication-failure-url="/login.html" ></form-login>
		<csrf disabled="true"></csrf>
		<headers>
			<!--请求头信息中有frame-options 默认的是deny 拒绝 SAMEORIGIN同源 协议 ip 端口号 ALLOW-FROM-->
			<frame-options policy="SAMEORIGIN"></frame-options>
		</headers>
		<!--logout LogoutFilter起作用   logout-success-url默认登出成功后跳转到登陆页-->
		<logout logout-success-url="/login.html"></logout>
	</http>

	<!--认证管理器-->
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="123456" authorities="ROLE_ADMIN"></user>
				<user name="dasheng" password="wukong" authorities="ROLE_ADMIN"></user>
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>